.leilao{
  display: flex;
  justify-content: center;
  min-height: 100svh;
  background-color: #dddddd;
}

.leilao > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 0 1rem rgba(0,0,0,0.2);
  background-color: #ffffff;
}

.leilao > div header{

  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  background-color: #550000;
  width: 100%;
  color: #fff;
  padding: 1rem;
  border-radius: 0 0 3rem 3rem;
  margin-bottom: 2rem;
}

.leilao > div header h1{
  font-size: 3rem;
  font-weight: 600;
}

.leilao > div header button{
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 0;
  background-color: transparent;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

.leilao > div header button:hover{
  text-decoration: underline;
}

.leilao > div header h2{
  font-size: 1.5rem;
  font-weight: 600;
}

.leilao > div header h2 span{
  text-decoration: underline;
}

.leilao main{
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

/* Formzinho basico */

form.form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form.form > div {
  display: flex;
  flex-direction: column;
}

form.form > div label {
  font-size: 1.2rem;
  font-weight: 600;
}

form.form > div input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  width: 250px;
}

form.form button{
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  background-color: #830000;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

form.form button:hover{
  background-color: #420000
}

 /* Login modal */

.loginModal, .leilaoModal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  display: grid;
  place-items: center;
  transition: .3s;
}

.loginModal.closed, .leilaoModal.closed{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loginModal > div, .leilaoModal > div {
  background-color: white;
  padding: 2rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.loginModal > div form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loginModal > div h2{
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.loginModal > div form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  width: 250px;
}

.loginModal > div form button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  background-color: #830000;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

.loginModal > div form button:hover{
  background-color: #420000;
}

.item{
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem ;
  cursor: pointer;
  transition: .3s;
  border-radius: 5px;
}

.item:hover{
  background-color: #eee;
}

.item:not(:last-child){
  border-bottom: 1px solid #ccc;
}

.item img{
  width: 80px;
  height: 80px;
  object-fit: cover;
}

/* leilao modal */

.leilaoModal > div {
  width: 800px;
}

.leilaoModal > div .close{
  all: unset;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

.leilaoModal > div h2{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.leilaoModal > div .info{
  display: flex;
  gap: 1rem;
  align-items: center;

}

.leilaoModal > div .info img{
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.leilaoModal > div .lances form small{
  text-align: center;
  width: 100%;
  display: block;
}

.leilaoModal > div .lances form div{
  display: flex;
  justify-content: center;
  padding: .3rem 0;
}

.leilaoModal > div .lances form div input{
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  width: 250px;
}

.leilaoModal > div .lances form div button{
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  background-color: #830000;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

.lances .lista{
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.lance{
  padding: 1rem;
  border-radius: 4px;
}

.lance.winner{
  background-color: #005c23!important;
}

.lance.possibleWinner{
  background-color: #3100a34d;
}

.userLance::after{
  background-color: pink;
  content: '';
  display: block;
  height: 3px;
  width: 100%;
}
